# OR-Tools code dependencies
absl-py==1.4.0
numpy==1.24.1
protobuf==4.23.2
scipy==1.10.0

# OR-Tools build dependencies
mypy-protobuf==3.4.0
virtualenv==20.16.6
yapf==0.32.0

# Example dependencies
pandas==1.5.3

# Visualization dependencies
svgwrite==1.4.3
plotly==5.13.0

# Notebook
notebook==5.6.0
