# OR-Tools code dependencies
absl-py==2.2.2
immutabledict==4.2.1
numpy==2.2.0
protobuf==6.33.0
requests==2.32.4
scipy==1.14.1
typing-extensions==4.13.1

# OR-Tools build dependencies
mypy==1.6.1
mypy-protobuf==3.5.0
virtualenv==20.28.1
black==24.8.0

# Example dependencies
pandas==2.2.3

# Visualization dependencies
svgwrite==1.4.3
