# OR-Tools code dependencies
absl-py==2.0.0
immutabledict==3.0.0
numpy==1.26.4
protobuf==5.26.1
requests==2.32.0
scipy==1.11.3

# OR-Tools build dependencies
mypy==1.6.1
mypy-protobuf==3.5.0
virtualenv==20.26.6
black==24.3.0

# Example dependencies
pandas==2.1.2
svgwrite==1.4.3
