# Project Files unneeded by docker
.dockerignore

ci/cache
ci/docker
ci/Makefile

.git
.gitignore

.travis.yml
.appveyor.yml
.github

.clang-format

binder
tools

cmake/cache
cmake/docker
cmake/Makefile

makefiles
Makefile
Makefile.local

bazel
WORKSPACE

docs
Dependencies.txt

README.md
CONTRIBUTING.md
LICENSE-2.0.txt

# Native cmake build
classes
dependencies
objs
lib
bin
packages
build/
examples/data

# Editor directories and files
*.user
*.swp
