# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.travis.yml
.travis
.appveyor.yml
.github

.clang-format

# Bazel
bazel/docs
bazel/README.md
bazel/cache
bazel/docker
bazel/Makefile

# CMake
cmake/docs
cmake/README.md
cmake/cache
cmake/docker
cmake/Makefile

# Makefile
makefiles/docs
makefiles/README.md
makefiles/cache
makefiles/docker
makefiles/Makefile
Makefile.local

docs
tools/docker
tools/release
tools/win
Dependencies.txt
README.md
CONTRIBUTING.md
#LICENSE-2.0.txt

# Native CMake/Make build
.cache/
dependencies/sources
dependencies/install
ortools/gen
bazel-*
bin
classes
lib
objs
packages
build/
build_cmake/
build_all/
build_dotnet/
build_java/
build_python/
build_cross/
build_make/
install_make/
temp_*/
export/
export_meta/

# Editor directories and files
*.user
*.swp
