Makefile.local

dependencies/archives/autoconf-2.69/
dependencies/archives/autoconf-2.69.tar.gz
dependencies/archives/autoconf.patch
dependencies/archives/automake-1.15.tar.gz
dependencies/archives/bison-3.0.4.tar.gz
dependencies/archives/flex-2.6.0.tar.bz2
dependencies/archives/gflags-2.1.2.tar.gz
dependencies/archives/help2man-1.43.3.tar.gz
dependencies/archives/libtool-2.4.6.tar.gz
dependencies/archives/mono-4.0.1.tar.bz2
dependencies/archives/patchelf-0.8.tar.gz
dependencies/archives/swig-3.0.10.tar.gz
dependencies/archives/gflags-master.zip
dependencies/archives/sparsehash-2.0.3.zip
dependencies/archives/swigwin-3.0.10.zip
dependencies/archives/v3.0.0-beta-3.zip
dependencies/archives/win_flex_bison-2.5.5.zip
dependencies/archives/zlib128.zip
dependencies/install/
dependencies/sources/


or-tools*.tar.gz
or-tools*.zip
*.a
*.o
*.so
*.py[co]
*.lib
*.exp
*.pdb
*.ass

bin/
src/gen/
objs/
temp/
lib/
