
/* Google's standard stylesheet for publishing to developers.google.com        */
/* Settings in this file add to or override settings in the default stylesheet */
/* Specify this filename with the HTML_EXTRA_STYLESHEET setting in Doxyfile    */

/* author: doog@google.com */

/* Limitations due to HTML and id design:                                    */
/*  * The paramtype and param padding styles affect both the top and bottom  */
/*    spacing of method prototypes that have no parameters                   */
/*    (e.g. closeActiveNativeShareDialog in Google+ API), and also spacing   */
/*    in between parameters (e.g. handleURL).  I would like to make the      */
/*    shaded rectangle slightly larger for prototypes with no parameter,     */
/*    but keep the parameter lines withini a single prototype tight.         */
/*                                                                           */
/*  * Property detail prototype has a one-cell table for the name            */
/*    (e.g. delegate) instead of a two-cell table for both the name and      */
/*    arguments.  This makes the style definitions complicated.              */


/* OVERVIEW PAGE (index.html) */

.icon, .icona {
    display: none;
}

.directory {
    margin-top: 1em;
}

/* Set gray background on all rows (not just even) but does NOT work */
.directory tr.even, .directory td.entry, .directory td.desc {
}

.directory td.entry {
    font-weight: bold;
    white-space: nowrap;
}

.fragment {
    white-space: pre;
    font: 14px/20px Roboto Mono,monospace;
    color: #37474f;
    background: #f7f7f7;
    margin: 16px 0;
    padding: 8px;
    overflow-x: auto;
}

/* TOP OF CLASS PAGES */

div.summary {
    margin-top: -1em;
    margin-bottom: 1em;
}

div.headertitle {
    display: none;
}

div.textblock p {
    margin-bottom: 0.6em;
}

/* ALL TABLES */

table {
    border-collapse: collapse;
    border: none;
}

table tr.heading {
    border: none;
}

table tr.heading td {
    border: none;
    padding-left: 0;
}

table td.memSeparator {
    display: none;
}

table td {
    border: none;
}

table {
    margin-bottom: 0;
}


/* CLASS PAGE - SUMMARY TABLES  */

.groupheader {
    padding-left: 8px;
}

table td.memItemLeft {
    width: 10%;
    text-align: right;
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 0;
    padding-left: 10px;
    white-space: nowrap;
}

table td.memItemRight {
    font-weight: bold;
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 0;
    padding-left: 9px;
}

table td.mdescLeft {
    padding-top: 0;
    padding-bottom: 10px;
}

table td.mdescRight {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 6px;
}

table.memberdecls tr {
    border: none;
}

table.memberdecls h2 {
    font: 400 24px/32px Roboto,sans-serif;
}


/* CLASS PAGE - DETAILED SECTION */

div.memproto {
    margin-top: 22px;
    margin-bottom: 12px;
}

table.memname {
    border: none;
}

table.memname tr {
    border: none;
}

table.memname td {
    font: 400 16px/24px Roboto,sans-serif;
    border: none;
}

table.memname td.memname,
table.memname td.paramkey {
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    white-space: nowrap;
    width: 85px;
}

table.memname td.paramtype {
    padding-left: 0;
    padding-top: 0;
    width: 85px;
    white-space: nowrap;
}

table.memname td.paramname {
    min-width: 170px;
    padding-top: 0;
}

table.memname tr:first-child td.memname {
    text-align: left;
}

table.memname tr:first-child td.memname,
table.memname tr:first-child td.paramtype,
table.memname tr:first-child td.paramname {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.memdoc p {
    margin-left: 35px;
    margin-bottom: 0.7em;
}

div.memdoc dl.since {
    margin-left: 35px;
}

dl.since dt,
dl.since dd {
    display: inline;
}

dl.deprecated {
    padding-left: 35px;
    font-weight: 500;
}

dl.deprecated dt,
dl.deprecated dd {
    display: inline;
}

dl.deprecated dd {
    padding-left: 12px;
    font-weight: normal;
}

/* Make unneeded links black in detail tables */
td.memname a.el,
td.memname a:visited.el {
   color: #000;
}

dl.params, dl.return {
    padding-left: 35px;
}

dl.params dt, dl.return dt {
    font-weight: 500;
}

dl.params dd, dl.return dd {
    padding-left: 0px;
}

/* CLASS FILE - PROPERTY DETAILS */

td.mlabels-left td.memname {
    padding-left: 0;
}

table.memname {
    margin-top: 12px;
}

table.mlabels {
    margin-top: 10px;
}

table.mlabels, table.memname {
    margin-bottom: 0;
}

table.mlabels tr {
    border: 0;
}

table.mlabels td.mlabels-left {
    font-size: 17px/24px;
    padding-top: 0;
    padding-bottom: 0;
    width: 125px;
}

table.mlabels td.mlabels-right {
    font-size: 17px/24px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    width: 600px;
}

table.mlabels span.mlabel {
    padding-left: 2px;
    padding-right: 8px;
}

/* OLD DESIGN COMPATIBILITY */

body.docs table {
    border-collapse: collapse;
    border: none;
}

body.docs table tr.heading td {
    border: none;
    padding-left: 0;
}

body.docs table td.memSeparator {
    display: none;
}

body.docs table td {
    border: none;
}

body.docs table {
    margin-bottom: 0;
}

body.docs table td.memItemLeft {
    background-color: #F9FAFC;
    width: 10%;
    text-align: right;
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 0;
    padding-left: 10px;
    white-space: nowrap;
}

body.docs table td.memItemRight {
    background-color: #F9FAFC;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 0;
    padding-left: 9px;
}

body.docs table td.mdescLeft {
    background-color: #F9FAFC;
    padding-top: 0;
    padding-bottom: 10px;
}

body.docs table td.mdescRight {
    background-color: #F9FAFC;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 6px;
}

body.docs table.memname {
    border: none;
}

body.docs table.memname td {
    background-color: #E2E8F2;
    border: none;
}

body.docs table.memname td.memname,
body.docs table.memname td.paramkey {
    font-weight: bold;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    white-space: nowrap;
    width: 85px;
}

body.docs table.memname td.paramtype {
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 2px;
    width: 85px;
    white-space: nowrap;
}

body.docs table.memname td.paramname {
    min-width: 330px;
    padding-top: 0px;
    padding-bottom: 2px;
}

body.docs td.mlabels-left td.memname {
    padding-left: 0;
}

/* END OF OLD DESIGN COMPATIBILITY */
