name: aarch64 Toolchain

on: [push, pull_request]

jobs:
  # Building using the github runner environement directly.
  aarch64:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        targets: [
          [aarch64-linux-gnu],
          [aarch64_be-linux-gnu]
        ]
      fail-fast: false
    env:
      TARGET: ${{ matrix.targets[0] }}
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: make --directory=cmake ${TARGET}_build
    - name: Test
      run: make --directory=cmake ${TARGET}_test
