# ref: https://github.com/actions/runner-images
name: amd64 Docker Bazel

on: [push, pull_request, workflow_dispatch]

jobs:
  bazel:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allow_failure }}
    strategy:
      matrix:
        distro: [alpine, archlinux, centos, debian, fedora, opensuse, ubuntu]
        allow_failure: [false]
      fail-fast: false
    env:
      DISTRO: ${{ matrix.distro }}
    steps:
      - uses: actions/checkout@v4
      - name: Build env image
        run: make --directory=bazel ${DISTRO}_env
      - name: Build devel image
        run: make --directory=bazel ${DISTRO}_devel
      - name: Build project
        run: make --directory=bazel ${DISTRO}_build
      - name: Test project
        run: make --directory=bazel ${DISTRO}_test
