# ref: https://github.com/actions/runner-images
name: arm64 MacOS Bazel

on:
  push:
    branches:
      - main
      - v99bugfix
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

env:
  cache-root: /private/tmp/bazel

# Building using the github runner environement directly.
jobs:
  arm64-MacOS-Bazel-Python:
    strategy:
      matrix:
        python: [
          #{version: '3.10'},
          #{version: '3.11'},
          #{version: '3.12'},
          {version: '3.13'},
          #{version: '3.14'},
        ]
      fail-fast: false
    env:
      cache-name: ${{github.job}}-${{matrix.python.version}}
    runs-on: macos-latest # macos arm64 based runner
    steps:
      - uses: actions/checkout@v6
      - name: Set Java to OpenJDK 21 (Temurin)
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Check mvn
        run: mvn --version
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python.version}}
      - name: Check Python
        run: python --version
      - name: Check Bazel
        run: bazel version
      - name: Restore bazel cache
        uses: actions/cache/restore@v4
        id: bazel-cache-restore
        with:
          key: ${{env.cache-name}}
          path: ${{env.cache-root}}
      - name: Build
        run: bazel --output_user_root=${{env.cache-root}} build --config=ci //...
      - name: Test
        run: bazel --output_user_root=${{env.cache-root}} test --config=ci //...
      - name: Save Bazel cache for branch main even when Build and Test fail.
        uses: actions/cache/save@v4
        # https://docs.github.com/en/actions/reference/workflows-and-actions/dependency-caching#restrictions-for-accessing-a-cache
        if: always() && github.ref == 'refs/heads/main'
        with:
          key: ${{env.cache-name}}-${{github.sha}}
          path: ${{env.cache-root}}

  arm64_macos_bazel:
    runs-on: ubuntu-latest
    needs: arm64-MacOS-Bazel-Python
    steps:
      - uses: actions/checkout@v6
