# ref: https://github.com/actions/runner-images
name: Bazel Windows

on:
  push:
  pull_request:
  schedule:
    # min hours day(month) month day(week)
    - cron: '0 0 7,22 * *'

jobs:
  # Building using the github runner environement directly.
  bazel:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Check java
        run: java -version
      - name: Check mvn
        run: mvn --version
      - name: Install Bazel
        run: |
          choco install bazel
          bazel --version
      - name: Build
        run: bazel build -c opt --cxxopt="/std:c++20" --subcommands=true //ortools/... //examples/...
      - name: Test
        run: bazel test -c opt --cxxopt="/std:c++20" --test_output=errors //ortools/... //examples/...
