name: CMake FreeBSD

on: [push, pull_request]

jobs:
  # Only macos runner provide virtualisation with vagrant/virtualbox installed.
  FreeBSD:
    runs-on: macos-latest
    continue-on-error: ${{ matrix.allow_failure }}
    strategy:
      fail-fast: false
      matrix:
        distro: [freebsd]
        lang: [cpp, python]
        allow_failure: [false]
        include:
        - distro: freebsd
          lang: java
          allow_failure: true
        - distro: freebsd
          lang: dotnet
          allow_failure: true
    env:
      DISTRO: ${{ matrix.distro }}
      LANG: ${{ matrix.lang }}
    steps:
    - uses: actions/checkout@v2
    - name: vagrant version
      run: Vagrant --version
    - name: VirtualBox version
      run: virtualbox -h
    - name: Build
      run: make --directory=cmake ${DISTRO}_${LANG}
